.Home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    background: #10ac84
    div
        margin: 10px 0
        h1
            font-size: 30px
            color: #fff